<h3>Your cat counselor says...</h3>

<img class="cat_counselor" src="https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80">

<div>
  <p>"<%= @advice %>"</p>
</div>

<a href="/">Back</a>
