<div class="body-content">
  <h1 class="head-text">Cat Fact</h1>

  <p class="body-text">Did you know...</p>
  <p class="body-text"><%= @fact %></p>
  <br>
  <div>
    <form action="/meowfacts">
      <button class="button-5" role="button">
        More facts...<i class="fa-solid fa-fish" style="color: #001858;"></i>
      </button>
    </form>
  </div>
  <br>
  <div>
    <form action="/">
      <button class ="button-53" role="button">
        <i class="fa-solid fa-paw fa-sm" style="color: #001858;"></i> Home
      </button>
    </form>
  </div>
</div>
