<h1>Cat Therapy</h1>

<p>It's scientifically proven that cats give humans a serotonin boost 😺 </p>

<div>
  <form action="/meowtivation">
    <button>Cat Guru</button>
  </form>
</div>

<div>
  <form action="/meowdy">
    <button>Cat Picture</button>
  </form>
</div>
