<div class="body-content">
  <h1 class="head-text">Cat Guru</h1>

  <p class="body-text">It's scientifically proven that cats give humans a serotonin boost 😺 </p>

  <div>
    <form action="/meowtivation">
      <button>Cat Guru</button>
    </form>
  </div>
</div>
