<div class="body-content">
  <h1 class="head-text">Cat Therapy</h1>

  <p class="body-text">It's scientifically proven that cats give humans a serotonin boost 😺 </p>

  <div>
    <form action="/meowtivation">
      <button class="button-53" role="button">
        <i class="fa-solid fa-glasses" style="color: #001858;"></i>Cat Guru
      </button>
    </form>
  </div>
  <br>
  <div>
    <form action="/meowfacts">
      <button class ="button-5" role="button">
        Random Cat Fact <i class="fa-solid fa-paw fa-sm" style="color: #001858;"></i>
      </button>
    </form>
  </div>
</div>
