<!DOCTYPE html>
<html>
  <head>
    <title>Cat Guru</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      .cat_guru_img {
        height: 130px;
        width: 130px;
      }
    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
