<nav class="navbar navtitle my-navcolors">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-cat fa-bounce fa-sm" style="color: #001858;"></i>
      <!--<img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">-->
      Cat Guru
    </a>
  </div>
</nav>
