.cat_guru_img {
  width: 130px;
  height: 130px;
}

.body-color {
  background-color: #f8f5f2;
}

.navtitle {
  font-family: 'Concert One', cursive;
}

.my-navcolors {
  background-color: #f8f5f2;
  border-bottom: 3px solid #272343;
}

.head-text {
  font-family: 'Concert One', cursive;
}

.body-text {
  font-family: 'Patrick Hand', cursive;
}

.body-content {
  padding-left: 7px;
}
