.cat_guru_img {
  width: 130px;
  height: 130px;
}

.body-color {
  background-color: #f8f5f2;
}

.navtitle {
  font-family: 'Concert One', cursive;
}

.my-navcolors {
  background-color: #f8f5f2;
  border-bottom: 3px solid #272343;
}

.head-text {
  font-family: 'Concert One', cursive;
}

.body-text {
  font-family: 'Patrick Hand', cursive;
}

.body-content {
  padding-left: 7px;
  align-items: center;
}

.button-53 {
  background-color: #f582ae;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #001858;
  display: flex;
  font-family: 'Concert One', cursive;  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 300px;
  position: relative;
  cursor: pointer;
  transform: rotate(-1deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.button-5 {
  background-color: #8bd3dd;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #001858;
  display: flex;
  font-family: 'Concert One', cursive;  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 300px;
  position: relative;
  cursor: pointer;
  transform: rotate(2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-5:focus {
  outline: 0;
}

.button-5:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-5:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-5 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}
